.App {
  text-align: center;
}

.wrapper {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

h1 {
  font-size: 80px;
  line-height: 80px;
  margin-top: 40px;
}

button {
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  border: 0;
  margin: 18px;
  cursor: pointer;
  color: #333;
  background-color: lightblue;
}
